header{
    display: flex;
    justify-content: space-between;
    background-color: blanchedalmond(129,233,246);
}
.logo{
    font-size: 60px;
}
.logo img{
 height:200px;
 width:200px;
 margin-top:30px;
 margin-left:30px;
}
nav{
    margin: 20px;
    padding: 10px;
}
nav a{
    margin-right: 20px;
    font-size: 25px;
}
.img img{
    width: 100%;
    height: 300px;
}
.container{
    display: flex;
    background-color: red;
}
.img_container{
    display: grid;
    grid-template-columns: repeat(2,50%);
}
.cc{
    margin: 30px;
}
.row1{
    display: flex;
    margin: 1%;
}
.product{
    text-align: center;
    border: 1px solid black(228,)